<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye, <%= @user.firstname %></h1>
    <p>
      After your request, we have terminated your account. You will no longer have access to review individual movies, but you can still view our movie listings.
    </p>
    <p>
      To sign up again to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for being a part of Rotten Mangoes and have a great day!</p>
  </body>
</html>