/*// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#new-movie a {
  color: white;
}

.movie-listing-table { 
  width: 100%; 
}

.info-cell { 
  width: 50%; 
}

.poster-cell { 
  text-align: right; 
}

.duration-dropdown {
  color: #bdbdbd;
}